.btn-primary {
  background-color: #f9a826;
  border: 0;
  padding: 12px 34px;
  margin-bottom: 1px;
  &:hover {
    background-color: #dd8a05;
  }
  &:focus {
    box-shadow: none;
    background-color: #f9a826;
    border: 0;
  }
}
.navbar {
  background-color: #fdcd3b;
}

.jumbotron {
  border-radius: 0px;
  padding-bottom: 10vh;
}
